.container {
      max-width: 1600px;
      margin: 2em auto;
      display: grid;
      grid-template-columns: repeat(12, auto);
      grid-template-rows: repeat(10, 1fr);
      grid-gap: 1rem;
    }

    .container header {
      grid-column: span 12;
    }

    .container aside {
      grid-column: span 2;
      grid-row: span 8;
    }

    .container main {
      grid-column: span 10;
      grid-row: span 8;
    }

    .container footer {
      grid-column: span 12;
    }

    .container>* {
      background-color: burlywood;
      padding: 1rem;
    }

    @media screen and (max-width:760px) {
      .container header {
        grid-column: span 11;
      }

      .container aside {
        grid-row: 1;
        grid-column: span 1;
      }

      .container main {
        grid-column: span 12;
      }
    }