<header>
    <nav class="menu">
        <ul>
            <li id="logoCorp">
                <p>T</p>
            </li>
            <li id="ofertas">
                <p>¡ Ofertas !</p>
            </li>
            <li><a href="">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>Bolsa
                </a></li>
            <li><a href="">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>Favoritos
                </a></li>
            <li><a href="">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>Iniciar sesion
                </a></li>
            <li><a href="">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>Buscar
                </a></li>
        </ul>
    </nav>
</header>
<div class="categorias">
    <a href="">
        <div class="left">
            <p>Camisetas</p>
        </div>
    </a>
    <a href="">
        <div class="mid">
            <p>Pantalones</p>
        </div>
    </a>
    <a href="">
        <div class="right">
            <p>Calzado</p>
        </div>
    </a>
</div>
<footer class="footer">
    <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Acerca de</a></li>
        <li><a href="">Tienda</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
</footer>