<header>
    <nav class="menu">
        <ul>
            <li><a href="">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>Bolsa
                </a></li>
            <li><a href="">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>Favoritos
                </a></li>
            <li><a href="">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>Iniciar sesion
                </a></li>
            <li><a href="">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>Buscar
                </a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="main">
        <h1 id="titulo">TALLANDO</h1>
        <mat-form-field appearance="fill">
            <span matPrefix>search</span>
            <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
            <input matInput type="text" placeholder="Busqueda...">
        </mat-form-field>
    </div>
    <div class="categorias">
        <div class="left">
            <p>Ofertas</p>
        </div>
        <div class="mid">
            <p>Novedades</p>
        </div>
        <div class="right">
            <p>Niños</p>
        </div>
    </div>
</body>

<footer class="footer">
    <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Acerca de</a></li>
        <li><a href="">Tienda</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
</footer>